extends layout

block content
  .container
    h1= title

    if errors && errors.length > 0
      .alert.alert-danger
        ul
          each error in errors
            li= error.msg

    form(method='POST' enctype='multipart/form-data')
      .form-group
        label(for='title') Title
        input#title.form-control(type='text', name='title', value=material ? material.title : '')

      .form-group
        label(for='description') Description
        textarea#description.form-control(name='description', rows='3')= material ? material.description : ''

      .form-group
        label(for='type') Type
        select#type.form-control(name='type', required)
          each type in types
            option(value=type._id, selected=(material && material.type && material.type.toString() === type._id.toString()))= type.name

      .form-group
        label(for='subject') Subject
        select#subject.form-control(name='subject', required)
          each subject in subjects
            option(value=subject._id, selected=(material && material.subject && material.subject.toString() === subject._id.toString()))= subject.name

      .form-group
        label(for="file") Upload File:
        input#file.form-control(type="file" name="file" accept=".pdf" required)

      if isUpdate
        input(type="hidden", name="materialId", value=material._id)
        button.btn.btn-primary(type='submit') Update
      else
        button.btn.btn-primary(type='submit') Upload

